.a1-container {
  display: flex;
  margin: 83px 0;
}

.p-description {
  width: 60%;
}

.a1-container img {
  width: 360px;
  height: 360px;
}

.a2-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px;
}
