.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.section-1 {
  margin: 30px;
}

.section-2 {
  margin: 30px;
}

a {
  text-decoration: none;
}

img {
  width: 85px;
  padding-right: 30px;
}
